_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc

*.lock
*.zip
*.tar.gz

# meld
*.md.orig
*_BASE_*
*_BACKUP_*
*_LOCAL_*
*_REMOTE_*
.rake_tasks~


# hexo
.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
