# Jekyll 3
gems: [jekyll-paginate, jekyll-gist]

# This is the default format.
# For more see: http://jekyllrb.com/docs/permalinks/
permalink: /:categories/:year/:month/:day/:title

exclude: [".rvmrc", ".rbenv-version", "README.md", "Rakefile", "changelog.md",
  "0.sh", "build.sh", "katex.sh", "publi.sh", "History.markdown",
  "Gemfile", "Gemfile.lock"]
highlighter: rouge

# https://help.github.com/articles/migrating-your-pages-site-from-maruku
markdown: kramdown
kramdown:
  math_engine: mathjax

# Themes are encouraged to use these universal variables
# so be sure to set them if your theme uses them.
#
title : Code this.
tagline: Any Thoughts During Code this
# description:
author :
  name : "Scott"
  email : scozv@yandex.com
  github : https://github.com/scozv
#  twitter : username
#  feedburner : feedname

# The production_url is only used when full-domain names are needed
# such as sitemap.txt
# Most places will/should use BASE_PATH to make the urls
#
# If you have set a CNAME (pages.github.com) set your custom domain here.
# Else if you are pushing to username.github.io, replace with your username.
# Finally if you are pushing to a GitHub project page, include the project name at the end.
#
production_url : https://scozv.github.io/blog

# All Jekyll-Bootstrap specific configurations are namespaced into this hash
#
JB :
  version : 0.3.0

  # All links will be namespaced by BASE_PATH if defined.
  # Links in your website should always be prefixed with {{BASE_PATH}}
  # however this value will be dynamically changed depending on your deployment situation.
  #
  # CNAME (http://yourcustomdomain.com)
  #   DO NOT SET BASE_PATH
  #   (urls will be prefixed with "/" and work relatively)
  #
  # GitHub Pages (http://username.github.io)
  #   DO NOT SET BASE_PATH
  #   (urls will be prefixed with "/" and work relatively)
  #
  # GitHub Project Pages (http://username.github.io/project-name)
  #
  #   A GitHub Project site exists in the `gh-pages` branch of one of your repositories.
  #  REQUIRED! Set BASE_PATH to: http://username.github.io/project-name
  #
  # CAUTION:
  #   - When in Localhost, your site will run from root "/" regardless of BASE_PATH
  #   - Only the following values are falsy: ["", null, false]
  #   - When setting BASE_PATH it must be a valid url.
  #     This means always setting the protocol (http|https) or prefixing with "/"
  BASE_PATH : https://scozv.github.io/blog

  # By default, the asset_path is automatically defined relative to BASE_PATH plus the enabled theme.
  # ex: [BASE_PATH]/assets/themes/[THEME-NAME]
  #
  # Override this by defining an absolute path to assets here.
  # ex:
  #   http://s3.amazonaws.com/yoursite/themes/watermelon
  #   /assets
  #
  THEME_NAME : lanyon
  ASSET_PATH : /assets/themes/lanyon

  # These paths are to the main pages Jekyll-Bootstrap ships with.
  # Some JB helpers refer to these paths; change them here if needed.
  #
  archive_path: /archive.html
  categories_path : /categories.html
  tags_path : /tags.html
  atom_path : /atom.xml
  rss_path : /rss.xml

  # Settings for comments helper
  # Set 'provider' to the comment provider you want to use.
  # Set 'provider' to false to turn commenting off globally.
  #
  comments :
    provider : disqus
    disqus :
      short_name : scozv
#    livefyre :
#      site_id : 123
#    intensedebate :
#      account : 123abc
#    facebook :
#      appid : 123
#      num_posts: 5
#      width: 580
#      colorscheme: light

  # Settings for analytics helper
  # Set 'provider' to the analytics provider you want to use.
  # Set 'provider' to false to turn analytics off globally.
  #
  analytics :
    provider : yandex
    yandex :
       tracking_id : '37468300'
#   google :
#       tracking_id : 'UA-***'
#    googleUA :
#        tracking_id : 'UA-35340941-5'
#        property_name: 'scozv.github.io'
#    getclicky :
#      site_id :
#    mixpanel :
#        token : '_MIXPANEL_TOKEN_'
#    piwik :
#        baseURL : 'myserver.tld/piwik' # Piwik installation address (without protocol)
#        idsite : '1'                   # the id of the site on Piwik

  # Settings for sharing helper.
  # Sharing is for things like tweet, plusone, like, reddit buttons etc.
  # Set 'provider' to the sharing provider you want to use.
  # Set 'provider' to false to turn sharing off globally.
  #
  sharing :
    provider : false
  setup:
    provider : custom
  posts_collate:
    provider : custom
  tags_list:
    provider : custom
  categories_list:
    provider : custom
  pages_list:
    provider : custom

  # Settings for all other include helpers can be defined by creating
  # a hash with key named for the given helper. ex:
  #
  #   pages_list :
  #     provider : "custom"
  #
  # Setting any helper's provider to 'custom' will bypass the helper code
  # and include your custom code. Your custom file must be defined at:
  #   ./_includes/custom/[HELPER]
  # where [HELPER] is the name of the helper you are overriding.

languages: ["zh", "en"]
default_lang: "en"
exclude_from_localization: ["assets", "img", "css"]
parallel_localization: true

i18n:
  alt_lang:
    zh: en
    en: zh
  zh:
    zh: "中文"
    en: "中文"
  en:
    zh: "English"
    en: "English"
  home:
    zh: "首页"
    en: "Home"
  archive:
    zh: "归档"
    en: "Archive"
  pages:
    zh: "页面"
    en: "Pages"
  tags:
    zh: "标签"
    en: "Tags"
  about:
    zh: "关于"
    en: "About"
  categories:
    zh: "分类"
    en: "Categories"
  credits:
    zh: "致谢"
    en: "Credits"
  algo:
    zh: "算法"
    en: "algo"
  guide:
    zh: "指南"
    en: "guide"
  pattern:
    zh: "模式"
    en: "pattern"
  slides:
    zh: "讲稿"
    en: "slides"
  more:
    zh: "详细内容……"
    en: "Read more ..."
  related_posts:
    zh: "您也许还想读……"
    en: "Similar Posts"
