---
theme :
  name : bootstrap
---
{% include JB/setup %}
{% include themes/bootstrap/default.html %}

<!--mathjax should be included in if-else-->
<!-- Load KaTeX -->
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/katex/katex.min.css" />
    $("script[type='math/tex']").replaceWith(
      function(){
        var tex = $(this).text();
        return "<span class=\"inline-equation\">" + 
               katex.renderToString(tex) +
               "</span>";
    });
    
    $("script[type='math/tex; mode=display']").replaceWith(
      function(){
        var tex = $(this).text();
        return "<div class=\"equation\">" + 
               katex.renderToString("\\displaystyle "+tex) +
               "</div>";
    });
</script>